* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
    font-size: 8px;
    max-width: 100%;
    overflow-x: hidden;

    @include for-tablet-layout {
        font-size: 14px;
    }

    @include for-desktop-layout {
        font-size: 16px;
    }

    @include for-large-desktop-layout {
        font-size: 18px;
    }
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

img {
    object-fit: cover;
}

button {
    cursor: pointer;

    &:hover {
        transition: 0.3s;
    }
}

li {
    list-style: none;
}

.img-input {
    display: none;
}

ul {
    padding: 0;
}

hr {
    margin: 0;
}

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity .6s;
    z-index: 10;
    cursor: pointer;

}